@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    color:black;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 3s ease-in-out;
    transform-origin: bottom right;
    height: 4px;
    width: 100%;

}

.link:hover::before{
    transform : scaleX(1);
    background :green; 
    transform-origin:bottom left;
}

.trans::before{

    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    color:black;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 3s ease-in-out;
    transform-origin: bottom right;
    height: 4px;
    width: 100%;

}

.trans:hover::before{
    transform : scaleX(1);
    @apply bg-blue-900;
    transform-origin:bottom left;
}

.profile_img{
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
    animation: profile_animate 8s ease-in-out  infinite 1s ;
}

@keyframes profile_animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}